 /*color entire page pink and define font*/
body {
	font-family: 'Geneva', sans-serif;
	background-color: #D464A4;  /*based on lesbian pride flag stripe 4*/
	color: white;
}

 /*style title div class*/
#title {
	padding: 10px;
}

 /*style mapid div class*/
#mapid { 
	height: 550px;
	width: 100%;
	display: inline-block; 
}

 /*style textid div class*/
#textid {
	width: 95%;
	height: 550px;
	overflow: scroll;
}

 /*remove scrollbar visibility*/
::-webkit-scrollbar {
	display: none;
}

 /*style popup box*/
.leaflet-popup-content-wrapper {
	background: #FC9C54;  /*based on lesbian pride flag stripe 2*/
}

.leaflet-popup-content p {
    margin: 0.2em 0;
}

 /*style sequence box*/
.sequence-control-container {  
    width: 300px;  
    height: 70px;  
    background-color: rgba(212,100,164,0.5);  /*based on lesbian pride flag*/  
    padding: 10px;  
    line-height: 45px;  
    text-align: center;  
    border: solid orange 1px;  
} 

 /*style range ranger*/
.range-slider {
	width: 175px;
	fill: #D42C04;  /*based on lesbian pride flag stripe 1*/
	height: 5px;
	-webkit-appearance: none;
	background: white;
}

 /*style range slider button*/
.range-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  background: #D464A4; /*based on lesbian pride flag stripe 4*/
}

 /*style step buttons on slider*/
.step {
	width: 40px;
}

.step img {
	width: 100%;
	height: auto;
}

#forward {
	float: right;
	background-color: #FC9C54;  /*based on lesbian pride flag stripe 2*/
}

#reverse {
	float: left;
	background-color: #FC9C54;  //*based on lesbian pride flag stripe 2*/
}

 /*override legend style for attributes*/
#max-text,
#three-text,
#min-text,
#zero-text {
	fill: white;
	font-weight: normal;
	font-size: 11px;
}

 /*style legend*/
.legend-control-container {
    width: 160px;
    height: 90px;
    font-weight: bold;
    color: white;
    background-color: rgba(212,100,164,0.5);  /*based on lesbian pride flag*/
    padding: 10px;
    text-align: center;
    border: solid orange 1px;
    font-family: 'Geneva', sans-serif;
    font-size: 11px;
}

.legend-control-container p{
     margin: 0;
}

 /*override position of dot for zero bars*/
#zero.legend-circle {
      cy: 48;
}

 /*color links*/
a {
	color: #FC9C54;  /*based on lesbian pride flag stripe 2*/
}

 /*color links on hover*/
a:hover {
	color: #D42C04;  /*based on lesbian pride flag stripe 1*/
}

 /*style breaks*/
br:after {
	margin-bottom: 10px !important;
}